<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>


 <!-- this code is the code that display the user avatar.-->


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user)  do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :username,:placeholder => "Enter First and Last name", class: 'form-control' %><br >

      <%= f.label :user_about_me %><br >
      <%= f.text_field :user_about_me,:placeholder => "Every author has a bio, make a good one", class: 'form-control' %><br >

      <%= f.label :birthday %><br >
      <%= f.date_select :birthday%><br >

      <%= f.label :email %><br >
      <%= f.email_field :email, :placeholder => "Enter your email", class: 'form-control'  %><br >

      <%= f.select :gender, [["Not Telling", 1], ["Male", 2], ["Female", 3]] %>

      <%= f.file_field :avatar %><br >

      <%= f.label :password %>
      <%= f.password_field :password %><br >

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br >

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
